#bgimage {
  position: absolute;
  background-image: url("images/Illustration.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 165%;
  padding-top: 900px;
  z-index: 1;
}

.navigation {
  position: absolute;
  display: flex;
  background: #3c3a39;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
}

#name {
  padding-left: 24px;
  top: 10px;
  width: 77px;
  height: 24px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.body {
  position: absolute;
  display: flex;
  background: #1c1a19;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 92px;
  padding: 120px, 24px, 120px, 24px;
}

#one {
  margin-bottom: -6px;
  margin-top: -6px;
  height: 124px;
  width: 327px;
  padding-left: 24px;
  padding-top: 120px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  text-align: left;
  color: #ff6b00;
}

#two {
  margin-bottom: -6px;
  margin-top: -6px;
  height: 27px;
  width: 327px;
  padding-left: 24px;
  padding-top: 20px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

#three {
  height: 123px;
  width: 327px;
  padding-left: 24px;
  padding-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icons {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  padding-left: 24px;
  padding-top: 12px;
}

#menu {
  position: absolute;
  height: 12px;
  width: 18px;
  padding-left: 90%;
  padding-top: 6px;
}

ul { list-style-type: none; }
